<footer id="main-footer">
  <div class="inner-container container">
    <div class="t-sec clearfix">
      <div class="widget-box col-sm-6 col-md-3">
        <a href="#" id="f-logo">
          <span class="title"><%= Setting.find(2).value %></span>
          <span class="desc"><%= Setting.find(3).value %></span>
        </a>
        <div class="widget-content text-widget">
          <%= Setting.find(5).value %>
        </div>
      </div>
      <div class="widget-box col-sm-6 col-md-3">
        <h4 class="title">Map</h4>
        <iframe id="frame2" name="f2" width="275" height="263" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=<%= Setting.find(6).value.gsub!(" ","+") %>&amp;aq=0&amp;ie=UTF8&amp;t=m&amp;z=14&amp;iwloc=&amp;output=embed"></iframe>
      </div>
      <div class="widget-box col-sm-6 col-md-3">
        <h4 class="title">Weersverwachting</h4>
        <div class="widget-content latest-posts">
          <ul>
            <li class="clearfix">
              <div class="desc-box col-xs-8">
                <div class="title">Huidig:</div>
                <div class="desc">
                  <ul>
                    <li><i class="ravis-icon-thermometer-<% if @weather.currently.temperature < 0 %>cold<% else %>high<% end %>-temperature"></i> <%= @weather.currently.temperature %></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="desc-box col-xs-8">
                <div class="title">Morgen:</div>
                <div class="desc">
                  <ul>
                    <li><i class="ravis-icon-thermometer-cold-temperature"></i><%= @weather.daily.data.second.apparentTemperatureMin %> <i class="ravis-icon-thermometer-high-temperature"></i><%= @weather.daily.data.second.apparentTemperatureMax %></li>
                  </ul>
                </div>
              </div>
            </li>
            <small><a class="pull-right" href="https://darksky.net/poweredby/">Powered by Dark Sky</a></small>
          </ul>
        </div>
      </div>
      <div class="widget-box col-sm-6 col-md-3">
        <h4 class="title">Contact Us</h4>
        <div class="widget-content contact">
          <ul class="contact-info">
            <li>
              <i class="fa fa-home"></i>
              <%= Setting.find(6).value %>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <%= Setting.find(7).value %>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <%= Setting.find(8).value %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="b-sec clearfix">
      <ul class="social-icons list-inline">
        <% if SocialMedium.find(1).url.length > 3 %>
          <li><a href="<%= SocialMedium.find(1).url %>"><i class="fa fa-facebook"></i></a></li>
        <% end %>
        <% if SocialMedium.find(2).url.length > 3 %>
          <li><a href="<%= SocialMedium.find(2).url %>"><i class="fa fa-twitter"></i></a></li>
        <% end %>
        <% if SocialMedium.find(3).url.length > 3 %>
          <li><a href="<%= SocialMedium.find(3).url %>"><i class="fa fa-google-plus"></i></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</footer>
