<section id="gallery">
  <div class="inner-container container">

    <div class="ravis-title">
      <div class="inner-box">
        <div class="title"><%= @gallery.title %></div>
        <div class="sub-title"><%= @gallery.subtitle %></div>
      </div>
    </div>

    <div class="gallery-container">
      <ul class="image-main-box clearfix">
        <% @images.each do |i| %>
        <li class="item col-xs-6 col-md-4 lobby">
          <figure>
            <img src="<%= i.asset.url(:thumb) %>" alt="11"/>
            <a href="<%= i.asset.url %>" class="more-details"
                                         data-title="<%= i.title%>">Enlarge</a>
            <figcaption>
            <h4><%= i.title %></h4>
            </figcaption>
          </figure>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</section>
