<header id="main-header">
  <div class="inner-container container">
    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
      <a href="#" id="t-logo">
        <span class="title"><%= Setting.find(2).value %></span>
        <span class="desc"><%= Setting.find(3).value %></span>
      </a>
    </div>
    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
      <nav id="main-menu">
        <ul class="list-inline">
          <li><a href="#">Home</a>
          </li>
            <% if @info %><li ><a href="#welcome-section">Over ons</a></li><% end %>
            <% if @gallery %><li ><a href="#gallery">Foto's</a></li><% end %>
            <% if @offer %><li ><a href="#special-offers">Arangementen</a></li><% end %>
            <% if @rooms %><li ><a href="#luxury-rooms">Kamers</a></li><% end %>
        </ul>
      </nav>
      <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div>
      <a href="pages/booking.html" id="header-book-bow" class="ravis-btn btn-type-2"><span><%= Setting.find(9).value %></span> <i class="fa fa-calendar"></i></a>
    </div>
  </div>
  <div id="mobile-menu-container"></div>
</header>
