<section id="welcome-section">
  <div class="inner-container container">
    <div class="l-sec col-md-7">
      <div class="ravis-title-t-1">
        <div class="title"><span><%= @info.title %></span></div>
        <div class="sub-title"><%= @info.subtitle %></div>
      </div>
      <div class="content">
        <%= Setting.find(4).value %>
      </div>
    </div>
    <div class="r-sec col-md-5">
      <img src="<%= StaticImage.find(1).asset.url if StaticImage.find(1).asset.file? %>" alt="<%= Setting.find(2).value %>">
    </div>
  </div>
</section>
