<section id="main-slider">
  <% MainSlider.all.each do |s| %>
    <div class="items">
      <div class="img-container" data-bg-img="<%= s.asset.url %>"></div>
      <div class="slide-caption">
        <div class="inner-container clearfix">
          <div class="up-sec"><%= s.UpperText %></div>
          <div class="down-sec"><%= s.LowerText %></div>
        </div>
      </div>
    </div>
  <% end %>
</section>
