<section id="special-offers">
  <div class="inner-container container">
    <div class="ravis-title">
      <div class="inner-box">
        <div class="title"><%= @offer.title %></div>
        <div class="sub-title"><%= @offer.subtitle %></div>
      </div>
    </div>

    <% @offers.each do |o| %>
      <div class="packages-container clearfix">
        <div class="package-box col-sm-6 col-md-4">
          <div class="main-inner-box" data-bg-img="<%= o.asset.url %>">
            <div class="title-box">
              <div class="title"><%= o.title %></div>
              <div class="sub-title"><%= o.subtitle %></div>
            </div>
            <div class="price-box">
              <div class="price"><%= o.price %></div>
              <div class="type"><%= o.type %></div>
            </div>
            <div class="detail-box">
              <ul>
                <% o.options.each do |oo| %>
                <li>
                  <div class="inner-box"><%= oo.name %></div>
                </li>
              <% end %>
              </ul>
            </div>
            <a href="#" class="ravis-btn btn-type-2">Select</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
