<section id="luxury-rooms" class="clearfix">
  <% @roomlist.each do |r| %>
    <div class="room-boxes col-sm-<%= (12 / @roomlist.count) * 2 %> col-md-<%= 12 / @roomlist.count %>">
    <a href="#" class="inner-container" data-bg="<%= r.asset.url %>">
      <span class="ravis-title">
        <span class="inner-box">
          <span class="title"><%= r.title %></span>
          <span class="sub-title"><%= r.subtitle %></span>
        </span>
      </span>
    </a>
  </div>
<% end %>
</section>
