<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= Setting.where(name: "title").first.value %></title>
    <meta name="description" content="Colosseum Hotel is a responsive Hotel and Resort HTML template.">
    <meta name="keywords" content="Responsive,HTML5,CSS3,XML,JavaScript">
    <meta name="author" content="Joseph a, ravistheme@gmail.com">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic%7cPlayfair+Display:400,700%7cGreat+Vibes'
                                       rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body class="home-page-1">
    <div class="main-wrapper">
      <%= render 'snippets/header' %>

      <% if @slider %>
        <div class="slider-available-sec">
          <%= render 'snippets/main_slider' %>

          <%= render 'snippets/main_booking' %>
        </div>
      <% end %>

      <%= render 'snippets/main_section' if @info %>
      <%= render 'snippets/room_section' if @rooms %>
      <%= render 'snippets/gallery' if @gallery %>
      <%= render 'snippets/offers' if @offer %>

      <%= render 'snippets/footer' %>

      <!--Footer Section-->
      <!--End of Footer Section-->

    </div>
  </body>
</html>
